
@font-face {
    font-family: 'OpenSansBold';
    src: local('Open Sans Bold'),
    url('../fonts/open-sans-bold/open-sans-bold.eot'),
    url('../fonts/open-sans-bold/open-sans-bold.eot#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-bold/open-sans-bold.otf') format('otf'),
    url('../fonts/open-sans-bold/open-sans-bold.woff') format('woff'),
    url('../fonts/open-sans-bold/open-sans-bold.ttf') format('truetype'),
    url('../fonts/open-sans-bold/open-sans-bold.svg#open-sans-bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('Open Sans Regular'),
    url('../fonts/open-sans/open-sans-regular.eot'),
    url('../fonts/open-sans/open-sans-regular.eot#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/open-sans-regular.otf') format('otf'),
    url('../fonts/open-sans/open-sans-regular.woff') format('woff'),
    url('../fonts/open-sans/open-sans-regular.ttf') format('truetype'),
    url('../fonts/open-sans/open-sans-regular.svg#open-sans-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'OpenSansSamiBold';
    src: local('Open Sans SamiBold'),
    url('../fonts/open-sans-sami-bold/open-sans-semibold.eot'),
    url('../fonts/open-sans-sami-bold/open-sans-semibold.eot#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-sami-bold/open-sans-semibold.otf') format('otf'),
    url('../fonts/open-sans-sami-bold/open-sans-semibold.woff') format('woff'),
    url('../fonts/open-sans-sami-bold/open-sans-semibold.ttf') format('truetype'),
    url('../fonts/open-sans-sami-bold/open-sans-semibold.svg#open-sans-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}
