/* Main styles */
html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    font-size: 16px;
    font-family: Roboto, "sans-serif";
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    color: #2b2b2b;
    margin: 0;
    min-height: 100vh;
    line-height: 24px;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {flex-shrink: 0;}
ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
li { list-style: none;}
a:active,
a:visited,
a:hover,
a {
    text-decoration: none;
}

button {
    font-family: Roboto, "sans-serif";
}

.hidden {display: none !important;}

/************************************************************************************************************** Main */
header h1 {text-align: center;}
a.main_button {
    background-color: #f00;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.resume_link {
    color: #2b2b2b;
    text-decoration: underline;
}

/************************************************************************************************************ Popup */
.popup {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.popup_wrapper {
    background-color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 40px 50px 0 50px;
    max-width: 900px;
    position: relative;
}

.popup_wrapper .close_btn {
    background: url('../images/close_btn.png') no-repeat center center;
    cursor: pointer;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 17px;
    width: 16px;
}

.popup_wrapper .column_wrapper {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: end;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: justify;
}

/**************************************************** Column left */
.popup_wrapper .col-left {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-basis: 60%;
    -webkit-flex-basis: 60%;
}

.popup_wrapper .popup_title {
    font-family: 'OpenSansBold', 'sans-serif';
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 50px;
}

.popup_wrapper .image_wrapper {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.popup_wrapper .image_wrapper .docs_images {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    margin-top: 5px;
}

.popup_wrapper .image_wrapper .docs_images img {
    margin-right: 10px;
}

.popup_wrapper .image_wrapper .present_images {
    margin-top: 20px;
    margin-bottom: -10px;
}

.popup_wrapper .image_wrapper .present_images img {
    margin-left: -28px;
}

/**************************************************** Form */
.popup_wrapper .popup_content {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: end;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: justify;
    flex-basis: 360px;
    -webkit-flex-basis: 360px;
    margin-bottom: 68px;
}

.popup_wrapper .string {
    margin: 30px 0 15px;
}

.popup_wrapper .string:first-child {
    margin-top: 0;
}

.popup_wrapper .string:last-child {
    margin-top: 15px;
    margin-bottom: 0;
}

.popup_wrapper label {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    color: #000;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    font-size: 15px;
    line-height: 15px;
    font-family: 'OpenSans', 'sans-serif';
    width: 100%;
}

.popup_wrapper label input {
    display: block;
    border: 1px solid #adadad;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 15px;
    margin: 10px 0 0;
    padding: 15px 20px;
    color: #a0a0a0;
    width: auto;
}

.popup_wrapper label input:focus-visible {
    outline: #adadad auto 0;
}

.popup_wrapper label input::placeholder {
    color: #a0a0a0;
}

.popup_wrapper .submit_btn {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    background: linear-gradient(to top, #37db73, #3cc36d);
    box-shadow: 0 5px 0 #36aa60;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    font-size: 25px;
    line-height: 25px;
    font-family: 'OpenSansSamiBold', 'sans-serif';
    padding: 16px;
    width: 100%;
}

.popup_wrapper .submit_btn img {
    margin-left: 20px;
}

.popup_wrapper .files_wrapper {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    margin-top: 12px;
    justify-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.popup_wrapper .files_wrapper span {
    color: #808080;
    font-size: 12px;
    font-family: 'OpenSans', 'sans-serif';
}

.popup_wrapper .files_wrapper .file {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    margin: 0 10px;
}

.popup_wrapper .files_wrapper .file .file_format {
    margin-right: 5px;
}

/******************************************************************************************************* Notifications*/
.notifications {
    background-color: #fff;
    min-height: 1px;
    position: absolute;
    top: 0;
    right: 30px;
    width: 300px;
    z-index: 100000;
}
@keyframes bgcolor {
    to {background-color: #fff;}
    /*20% {background-color: rgb(255, 225, 225);}*/
    /*30% {background-color: rgb(255, 179, 179);}*/
    /*40% {background-color: rgb(255, 153, 153);}*/
    /*50% {background-color: rgb(255, 127, 127);}*/
    /*60% {background-color: rgb(255, 102, 102);}*/
    /*70% {background-color: rgb(255, 76, 76);}*/
    /*80% {background-color: rgb(255, 51, 51);}*/
    /*90% {background-color: rgb(255, 25, 25);}*/
    from {background-color: #f00;}
}
.notifications .notice {
    /*background-color: #f00;*/
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    padding: 15px;
    width: 100%;
    animation-name: bgcolor;
    animation-direction: normal;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

.notifications .notice .container-text {
    flex-basis: 80%;
}
.notifications .notice .container-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    min-width: 40px;
}

/******************************************************************************************************** Media Query*/
@media screen and (max-width: 480px) {
    .popup_wrapper {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 20px 20px 0 20px;
        max-width: 320px;
    }

    .popup_wrapper .close_btn {
        top: 12px;
        right: 10px;
    }

    .popup_wrapper .column_wrapper {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: start;
        -webkit-box-pack: justify;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: justify;
    }

    .popup_wrapper .col-left {
        flex-direction: column-reverse;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
    }

    .popup_wrapper .popup_title {
        font-size: 20px;
        line-height: 24px;
        margin: 25px 10px;
        text-align: center;
    }

    .popup_wrapper .image_wrapper {
        flex-direction: column-reverse;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
    }

    .popup_wrapper .image_wrapper .docs_images {
        margin-top: -30px;
        justify-content: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: center;
        -ms-flex-pack: justify;
        z-index: 1;
    }

    .popup_wrapper .image_wrapper .docs_images img {
        margin: 0 5px;
        max-width: 30px;
    }

    .popup_wrapper .image_wrapper .present_images {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        z-index: 0;
    }

    .popup_wrapper .image_wrapper .present_images img {
        margin-left: 0;
        max-height: 163px;
    }

    .popup_wrapper .popup_content {
        justify-content: start;
        -webkit-box-pack: justify;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: justify;
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        margin-bottom: 27px;
    }

    .popup_wrapper .files_wrapper {
        display: none;
    }

    .popup_wrapper label {
        font-size: 12px;
        line-height: 12px;
    }

    .popup_wrapper label input {
        font-size: 16px;
    }

    .popup_wrapper .submit_btn {
        font-size: 20px;
        line-height: 20px;
        padding: 16px 0;
    }
}

@media screen and (max-width: 320px) {
    .popup_wrapper .popup_title {
        font-size: 18px;
        line-height: 18px;
        margin: 20px 10px;
        text-align: center;
    }

    .popup_wrapper .image_wrapper .present_images img {
        max-height: 115px;
    }

    .popup_wrapper .string {
        margin: 15px 0 10px;
    }

    .popup_wrapper label input {
        padding: 10px 15px;
    }

    .popup_wrapper .submit_btn {
        padding: 10px 0;
    }
}
